:root{
    --width_s: 900px;
    --width_log: 500px;
    --margin_buttons: 20px;
    --h2_color: rgb(0, 76, 255);
    --main_ground_color: rgb(234, 234, 241);
}
textarea {
    max-height: 900px;
}

h2.title_h2{
    color: var(--h2_color);
}

div.email-box{
    border: 1px solid;
    margin: 10px;
    max-width: var(--width_s);
}

div.frame{
    max-width: var(--width_s);
    background-color: rgb(246, 246, 246);
    justify-content: center
}

#card {
    max-width: var(--width_s);
}

#mail_box{
    margin-bottom: 15px;
}

#body_mail{
    margin-top: 10px;
    max-width: var(--width_s);
}

.button-action {
    margin: var(--margin_buttons);
}

input.btn {
    margin-top: 15px;
}