:root{
    --width_s: 900px;
    --margin_buttons: 20px;
    --read_mail_color: grey;
    --unread_mail_color: white;
}

textarea {
    min-height: 400px;
}

div.email-box{
    border: 1px solid;
    margin: 10px;
    max-width: var(--width_s);
}

#card {
    max-width: var(--width_s);
}

#mail_box{
    margin-bottom: 15px;
    max-width: var(--width_s);
}

#body_mail{
    margin-top: 10px;
    max-width: var(--width_s);
}

.button-action {
    margin: var(--margin_buttons);
}
